.self {
  position: relative;
}

.body {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--white);
  width: 100px;
  z-index: 10;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px #f1f1f1;
  padding: 3px 0;
}
